$phone: 415px;
$tablet-pro: 769px;
$tablet: 768px;
$primary: green;
$title-desk: 28px;
// $main-violet: rgb(44, 39, 43);
// $light-violet: rgba(44, 39, 43, 0.596);
$main-color: #6926C5;
$light-color: rgba(104, 38, 197, 0.541);
$btn-color:linear-gradient(to right, #00A0F5, #6926C5, #6926C5);