$phone: 415px;
$tablet-pro: 1024px;
$tablet: 768px;
$primary: green;
$title-desk: 28px;
$main-violet: #6926C5;
$light-violet: rgba(104, 38, 197, 0.541);
$btn-color:linear-gradient(to right, #00A0F5, #6926C5, #6926C5);