@import "../../sass/abstracts/variables";
* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

html {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 700;
  font-style: normal;
}

.home{
  .logo{
    background-color: #fff;
    border-radius: 10px;
  }
}

@media (max-width: $phone) {
  .hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 200px;
    margin-top: 60px;
    padding: 18px;

    h1 {
      color: #6926C5;
      font-size: 24px;
    }

    &__title {
      h3 {
        color: rgba(87, 41, 151, 0.739);
        font-size: 12px;
      }
    }

    button {
      margin-top: 10px; 
      text-align: center;
      order: 3;
      width: 150px;
      height: 30px;
      font-size: 15px;
      border-radius: 22px;
      background-image: linear-gradient(to right, #00A0F5, #6926C5, #6926C5);

      a {
        color: white;
        text-decoration: none;
      }
    }

    &__svg {
      order: 3;
      img {
        height: auto;
        width: 360px;
      }
    }
  }
}

@media screen and ( min-width:$phone) and (max-width:$tablet) {
  .hero {
    width: $tablet;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-top: 60px;
    
    h1 {
      font-size: 28px;
      color: #6926C5;
    }
    
    &__title {
      width: 500px;
      margin: auto;
      h3 {
        font-size: 14px;
        color: rgba(87, 41, 151, 0.739);
      }
    }

    button {
      margin-top: 10px; 
      text-align: center;
      order: 3;
      width: 150px;
      height: 30px;
      font-size: 15px;
      border-radius: 22px;
      background-image: linear-gradient(to right, #00A0F5, #6926C5, #6926C5);

      a {
        color: white;
        text-decoration: none;
      }
    }

    &__svg {
      order: 3;
      img {
        height: auto;
        width: 360px;
      }
    }
  }
}

@media(min-width: $tablet-pro) {
  .hero {
    width: 100%;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    
    h1 {
      font-size: 28px;
      color: #6926C5;
    }
    
    &__title {
      margin-left: 30px;
      text-align: center;
      width: 600px;
      h3 {
        font-size: 14px;
        color: rgba(87, 41, 151, 0.739);
      }
    }

    button {
      transform: translate(-326px, 70px);
      margin-top: 30px; 
      text-align: center;
      order: 3;
      width: 150px;
      height: 30px;
      font-size: 13px;
      border-radius: 22px;
      background-image: linear-gradient(to right, #00A0F5, #6926C5, #6926C5);

      a {
        color: white;
        text-decoration: none;
      }
    }

    &__svg {
      transform: translateX(-40px);
      order: 3;
      img {
        height: auto;
        width: 460px;
      }
    }
  }
}
.value {
  border: 5px dashed violet;
  height: auto;
  padding: 50px;
  // height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  &__title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5vh;

    button {
      margin-top: 10px;
      vertical-align: middle;
      color: white;
      font-size: 32px;
      height: 60px;
      width: 350px;
      border-radius: 30px;
      background-image: linear-gradient(to right, #00A0F5, #6926C5, #6926C5);
    }    
  }

  &__cols {
    height: 80vh;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    align-items: center;

    &-in {
      width: 50%;
    }
  }

}

.reservation {
  border: 2px dashed red;
  height: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: red;

  &__btn {
    Form {
      background-color: red;
      width: 600px;
    }
    width: 600px;
    height: 200px;
    border: 2px solid green;
  }
  
  #center {
    border: 2px dotted blue;
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
}

.collab {
  // background-color: blue;
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;

  &__logo {
    // background-color: red;
    width: 30%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  &__text {
    // background-color: green;
    width: 30%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;

    ul {
      list-style-type: none;
    }
  }
}

.faq {
  height: 50vh;
  padding: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  ul {
    list-style-type: none;
  }
}

.children {
  display: flex;
  justify-content: center;
}
