.toolbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: white;
  height: 56px;

  &__navigation {
    display: flex;
    height: 100%;
    align-items: center;
    padding: 0 1rem;

    &-logo{
      margin-left: 0.5rem;
    }
    &-logo a{
      // background-image: linear-gradient(to right, #00A0F5, #6926C5, #6926C5);
      color: black;
      text-decoration: none;
      font-size: 1.5rem;
      margin-left: 1rem;
    }
    &-spacer {
      flex:1;
    }
    &-items ul {
      list-style: none;
      margin: 0;
      padding: 0;
      display: flex;

      button {
        width: 140px;
        height: 25px;
        border-radius: 30px;
        background-image: linear-gradient(to right, #00A0F5, #6926C5, #6926C5);
      }

      .fb-share-button{
        transform: translateY(21%);
      }
      li{
        padding: 0 0.5rem;
      }
    }
    &-items a {
      list-style: none;
      color: white;
      text-decoration: none
    }
    &-items a:hover,
    &-items a:active{
      color: red;
    }
  }
}

@media (max-width: 768px) {
  .toolbar__navigation-items {
    display: none;
  }
}

@media (min-width: 769px) {
  .toolbar__toggle-btn {
    display: none;
  }
  .toolbar__navigation-logo {
    margin-left: 0;
  }
}

