@import "../../sass/abstracts/variables";

.footer {
  background-color: $main-color;
  ul {
    list-style: none;
    padding-bottom: 5%;
    text-align: center;
    li:first-child {
      margin: 0;
    }
    li {
      margin-top: 5%;
      a {
        color: #fff;
        text-decoration: none;
      }
    }
  }
}