@import "../../sass/abstracts/variables";

.formStep {
  font-size: 14px;
  height: 100%;
  .formulaire {
    margin-top: 20%;
    height: 80%;
    text-align: center;
    h1 {
      color: $main-color;
    }

    form {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 5%;

      input {
        border: 1px solid $main-color;
        text-align: center;
        -webkit-text-fill-color: $light-color;
        margin-top: 5%;
      }

      #submit {
        border-radius: 30px;
        width: 30vw;
        font-size: 2vw;
      }

      label {
        margin-top: 5%;
        h4 {
          color: $main-color;
        }
        textarea {
          -webkit-text-fill-color: $main-color;
          width: 80%;
          padding: 5%;
          margin-top: 3%;
          border: 1px solid $main-color;
        }
      }
    }
  }
}

@media (min-width: 600px) {
  .formStep {
    font-size: 16px;

    .formulaire {
      margin-top: 10%;
      form {
        input {
          width: 50%;
          font-size: 18px;
        }
        #date {
          width: 50vw;
        }
      }
    }
  }
}