/* * {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box; }

html {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 700;
  font-style: normal; }

.home .logo {
  background-color: #fff;
  border-radius: 10px; }

.hero {
  height: 92vh;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center; }
  .hero__title {
    -webkit-box-flex: 0;
            flex: 0 1 50%;
    color: black;
    margin-bottom: 5vh; }
    .hero__title #line-through {
      text-decoration: line-through;
      color: grey; }

.value {
  border: 5px dashed violet;
  height: auto;
  padding: 50px;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center; }
  .value__title {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
            justify-content: center;
    -webkit-box-align: center;
            align-items: center;
    margin-bottom: 5vh; }
    .value__title button {
      margin-top: 10px;
      vertical-align: middle;
      color: white;
      font-size: 40px;
      height: 60px;
      width: 350px;
      border-radius: 30px;
      background-image: -webkit-linear-gradient(left, #00A0F5, #6926C5, #6926C5);
      background-image: linear-gradient(to right, #00A0F5, #6926C5, #6926C5); }
  .value__cols {
    height: 80vh;
    flex-wrap: wrap;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
            justify-content: center;
    -webkit-box-align: center;
            align-items: center; }
    .value__cols-in {
      width: 50%; }

.reservation {
  border: 2px dashed red;
  height: 40vh;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
  color: red; }
  .reservation__btn {
    width: 600px;
    height: 200px;
    border: 2px solid green; }
    .reservation__btn Form {
      background-color: red;
      width: 600px; }
  .reservation #center {
    border: 2px dotted blue;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
            justify-content: center;
    margin-top: 20px; }

.collab {
  height: 60vh;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center; }
  .collab__logo {
    width: 30%;
    height: 70%;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
            justify-content: center;
    -webkit-box-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column; }
  .collab__text {
    width: 30%;
    height: 70%;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
            justify-content: center;
    -webkit-box-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    padding: 20px; }
    .collab__text ul {
      list-style-type: none; }

.faq {
  height: 50vh;
  padding: 50px;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column; }
  .faq ul {
    list-style-type: none; }

.children {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center; }

.footer {
  height: 10vh;
  background-color: #0c2461;
  bottom: 0;
  color: #fff;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center; }
  .footer__link {
    text-decoration: none;
    color: #0077B5;
    margin-left: 5px; }

.notfound {
  background-color: aquamarine;
  width: 100wh;
  height: 100vh; }

.description {
  height: 90vh; }

.split {
  height: 50vh;
  width: 100%;
  display: -webkit-box;
  display: flex; }
  .split__left {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
            justify-content: center;
    -webkit-box-align: center;
            align-items: center;
    -webkit-box-flex: 0;
            flex: 0 0 50%; }
    .split__left-img {
      width: 200px;
      height: 200px;
      border-radius: 50%; }
  .split__right {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-flex: 0;
            flex: 0 0 50%; }
    .split__right-cta {
      align-self: center;
      text-decoration: none;
      color: #fff;
      background-color: #8e44ad;
      height: 30px;
      width: 20%;
      line-height: 30px;
      text-align: center;
      border-radius: 14px; }
      .split__right-cta:active {
        -webkit-transform: translateY(10px);
                transform: translateY(10px); }

.hello {
  background-color: #2ecc71;
  display: inline-block; }
  .hello:hover + span {
    display: block;
    position: absolute;
    -webkit-transform: translateY(100px);
            transform: translateY(100px); }
  .hello__by {
    background-color: #8e44ad;
    display: none; }

.formStep {
  margin-top: 10vh;
  height: 90vh;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center; }
  .formStep .formulaire {
    border: 3px solid red;
    width: 100%;
    height: 100%; }
    .formStep .formulaire input {
      width: 100%;
      height: 100%; }

.t {
  height: 90vh; }

.toolbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: white;
  height: 56px; }
  .toolbar__navigation {
    display: -webkit-box;
    display: flex;
    height: 100%;
    -webkit-box-align: center;
            align-items: center;
    padding: 0 1rem; }
    .toolbar__navigation-logo {
      margin-left: 0.5rem; }
    .toolbar__navigation-logo a {
      color: black;
      text-decoration: none;
      font-size: 1rem;
      margin-left: 1rem; }
    .toolbar__navigation-spacer {
      -webkit-box-flex: 1;
              flex: 1; }
    .toolbar__navigation-items ul {
      list-style: none;
      margin: 0;
      padding: 0;
      display: -webkit-box;
      display: flex; }
      .toolbar__navigation-items ul button {
        width: 140px;
        height: 25px;
        border-radius: 30px;
        background-image: -webkit-linear-gradient(left, #00A0F5, #6926C5, #6926C5);
        background-image: linear-gradient(to right, #00A0F5, #6926C5, #6926C5); }
      .toolbar__navigation-items ul .fb-share-button {
        -webkit-transform: translateY(21%);
                transform: translateY(21%); }
      .toolbar__navigation-items ul li {
        padding: 0 0.5rem; }
    .toolbar__navigation-items a {
      list-style: none;
      color: white;
      text-decoration: none; }
    .toolbar__navigation-items a:hover,
    .toolbar__navigation-items a:active {
      color: red; }

@media (max-width: 768px) {
  .toolbar__navigation-items {
    display: none; } }

@media (min-width: 769px) {
  .toolbar__toggle-btn {
    display: none; }
  .toolbar__navigation-logo {
    margin-left: 0; } }

.toggle-btn {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  justify-content: space-around;
  height: 24px;
  width: 30px;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  box-sizing: border-box; }
  .toggle-btn__line {
    width: 30px;
    height: 2px;
    background-image: -webkit-linear-gradient(left, #00A0F5, #6926C5, #6926C5);
    background-image: linear-gradient(to right, #00A0F5, #6926C5, #6926C5); }

.toggle-btn:focus {
  outline: none; }

.side-drawer {
  height: 100%;
  background: white;
  box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  width: 70%;
  max-width: 400px;
  z-index: 200;
  background-image: -webkit-linear-gradient(bottom, #00A0F5, #6926C5, #6926C5);
  background-image: linear-gradient(to top, #00A0F5, #6926C5, #6926C5);
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: -webkit-transform 0.3s ease-out;
  transition: -webkit-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
  transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out; }
  .side-drawer ul {
    height: 50%;
    list-style: none;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    -webkit-box-pack: evenly;
            justify-content: evenly;
    -webkit-box-pack: center;
            justify-content: center; }
    .side-drawer ul li {
      display: -webkit-box;
      display: flex;
      -webkit-box-pack: center;
              justify-content: center;
      -webkit-box-align: center;
              align-items: center;
      width: 260px;
      margin: 10px 0;
      height: 50px; }
      .side-drawer ul li .fb-share-button iframe {
        width: 107px;
        height: 40px; }
    .side-drawer ul button {
      background: none; }
  .side-drawer a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    text-align: center;
    white-space: nowrap; }
  .side-drawer a:hover,
  .side-drawer a:active {
    color: green; }

.side-drawer.open {
  -webkit-transform: translateX(0);
          transform: translateX(0); }

@media (min-width: 769px) {
  .side-drawer {
    display: none; } }

.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.3);
  z-index: 100; } */
